<div class="jumbotron">
    <img class="img-responsive" src="~/Images/restaurant.jpg"/>
    <div class="carousel-caption"><h1>Restaurants</h1>
<p class="lead">The Web API which helps you get information about the Restaurants</p>
<p><a href="http://restaurantwebapi20180109074303.azurewebsites.net/api/restaurants">To Get All the Restaurants</a></p>
<p>Following are the 3 ways to get the information from API</p></div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>By City</h2>
        <p>A user can get the restaurants by the name of the city. This can be helpful if a person is in certain city and wants to grab something to eat.</p>
        <p><a href="http://restaurantwebapi20180109074303.azurewebsites.net/api/restaurants?restaurantCity=Toronto">To Get Restaurants in Toronto</a></p>
    </div>
    <div class="col-md-4">
        <h2>By Cuisine Type</h2>
        <p>A user can get the restaurants by the type of Cuisine the user wants to have. This can be helpful if a person is more specific about what he/she wants to eat.</p>
        <p><a href="http://restaurantwebapi20180109074303.azurewebsites.net/api/restaurants?restaurantCuisineType=Chinese">To Get Restaurants which has Chinese Cuisine</a></p>
    </div>
    <div class="col-md-4">
        <h2>By Closing Time</h2>
        <p>A user can get the restaurants by the Closing time. This helps the user know what restaurants are closing at what time</p>       
        <p><a href="http://restaurantwebapi20180109074303.azurewebsites.net/api/restaurants?restaurantCloseTime=10:00pm">To Get Restaurants whose closing time is 10:00pm</a></p>
    </div>
</div>
